@{
    ViewData["Title"] = "Cài đặt dữ liệu";
}

<h2>Cài đặt dữ liệu</h2>

<form>
    <div>
        <input type="checkbox" checked />
        Tự động sao lưu dữ liệu hàng tuần
    </div>
    <div>
        <input type="checkbox" />
        Cho phép đồng bộ hóa với thiết bị khác
    </div>

    <button class="btn btn-dark mt-3">Lưu thay đổi</button>
</form>