@{
    ViewData["Title"] = "Ngôn ngữ";
}

<h2>Chọn ngôn ngữ</h2>

<form>
    <select class="form-control">
        <option>Tiếng Việt</option>
        <option>English</option>
    </select>

    <button class="btn btn-warning mt-3">Lưu</button>
</form>