@{
    ViewData["Title"] = "Thông báo";
}

<h2>Cài đặt thông báo</h2>

<form>
    <div>
        <input type="checkbox" checked />
        Nhận email khi có tin nhắn mới
    </div>
    <div>
        <input type="checkbox" />
        Nhận thông báo đẩy trên trình duyệt
    </div>
    <div>
        <input type="checkbox" checked />
        Nhận thông báo từ hệ thống
    </div>

    <button class="btn btn-info mt-3">Lưu cài đặt</button>
</form>