@{
    ViewData["Title"] = "Dữ liệu cá nhân";
}

<h2>Yêu cầu dữ liệu cá nhân</h2>

<p>Bạn có thể tải xuống dữ liệu cá nhân mà chúng tôi lưu trữ.</p>

<button class="btn btn-outline-primary">Tải xuống dữ liệu</button>
<button class="btn btn-outline-danger">Xóa dữ liệu</button>